@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.mb-60 {
  margin-bottom: 60px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

.section > *:not(:first-child) {
  margin-top: 60px;
}

.img {
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.img:hover {
  transform: scale(1.1);
}

.contact {
  background-color: #FEA301;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.enroll {
  background-color: black;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.kinder-card {
  box-sizing: border-box;
  padding: 46px 24px;
  border: 2px solid #DEF5FF;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0px 0px 28.3px 0.95px rgba(0, 0, 0, 0.0509803922);
  background: linear-gradient(180deg, #DEF5FF, #FFFFFF 40%), #FFFFFF;
}
.kinder-card h2 {
  color: #01ACFD;
}
.kinder-card img {
  transition: transform 0.3s ease;
}
.kinder-card img:hover {
  transform: scale(1.1);
}

.elementary-card {
  box-sizing: border-box;
  padding: 46px 24px;
  border: 2px solid #FFF4DC;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0px 0px 28.3px 0.95px rgba(0, 0, 0, 0.0509803922);
  background: linear-gradient(180deg, #FFF4DC, #FFFFFF 40%), #FFFFFF;
}
.elementary-card h2 {
  color: #FEA301;
}
.elementary-card img {
  transition: transform 0.3s ease;
}
.elementary-card img:hover {
  transform: scale(1.1);
}

.middle-card {
  box-sizing: border-box;
  padding: 46px 24px;
  border: 2px solid #F2E8FF;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0px 0px 28.3px 0.95px rgba(0, 0, 0, 0.0509803922);
  background: linear-gradient(180deg, #F2E8FF, #FFFFFF 40%), #FFFFFF;
}
.middle-card h2 {
  color: #8700FF;
}
.middle-card img {
  transition: transform 0.3s ease;
}
.middle-card img:hover {
  transform: scale(1.1);
}

.curriculum-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 28px;
}
.curriculum-card-container h1 {
  font: bold 24px "Quicksand", serif;
  padding: 0;
}
.curriculum-card-container h2 {
  font: bold 16px "Quicksand", serif;
}
.curriculum-card-container p {
  font: 400 16px "Raleway", serif;
}
.curriculum-card-container img {
  width: 136px;
  height: 136px;
  margin: auto auto 10px;
}

.arrow {
  display: flex;
  justify-content: center;
}
.arrow img {
  width: 72px;
  height: 72px;
}
.arrow img:first-child {
  transform: rotate(180deg);
}

.story {
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(254, 161, 1, 0.3), rgba(247, 247, 247, 0.38));
  background-blend-mode: overlay;
}
.story .view-all {
  display: flex;
  justify-content: center;
}
.story .story-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.story .story-card-container .left-story-card {
  background: #F7F7F7;
  border-radius: 16px;
  overflow: hidden;
}
.story .story-card-container .left-story-card div {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.story .story-card-container .left-story-card img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  display: block;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.story .story-card-container .left-story-card h2 {
  font: bold 24px;
}
.story .story-card-container .left-story-card p {
  font: medium 16px "Raleway", serif;
}
.story .story-card-container .left-story-card .date {
  position: absolute;
  color: white;
  top: -7%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #3CD8E8;
  border-radius: 32px;
  padding: 10px;
}
.story .story-card-container .right-story-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.story .story-card-container .right-story-container img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  display: block;
}
.story .story-card-container .right-story-container h4 {
  font: bold 16px "Quicksand", serif;
}
.story .story-card-container .right-story-container p {
  font: medium 16px "Raleway", serif;
  color: white;
}
.story .story-card-container .right-story-container div {
  background: #FFFFFF;
  border-radius: 16px;
}
.story .story-card-container .right-story-container .right-story-card {
  overflow: hidden;
}
.story .story-card-container .right-story-container .right-story-card div {
  position: relative;
  padding: 0px 32px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.story .story-card-container .right-story-container .right-story-card p {
  position: absolute;
  color: #FFFFFF;
  top: -20px;
  left: 36%;
  transform: translate(-50%, -50%);
  background-color: #95B226;
  border-radius: 32px;
  padding: 10px;
}

footer {
  background: #01ACFD;
  color: #FFFFFF;
}
footer section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 100px 0 120px;
}

.footer-left h2 {
  font: bold 42px;
}
.footer-left p {
  font: reguler 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-logo img {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 16px 4px;
  width: 62px;
  height: 62px;
}

.footer-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
}
.footer-right h2 {
  font: bold 24px;
}
.footer-right p {
  font: medium 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > :first-child {
  display: flex;
  align-items: center;
}
.navbar > :first-child img {
  width: 62px;
  height: 62px;
}

.header-navlink {
  display: flex;
  gap: 32px;
  font-size: 20px;
  font-weight: bold;
}
.header-navlink > :first-child {
  color: #FEA301;
}
.header-navlink > :nth-child(2) {
  color: #01ACFD;
}
.header-navlink > :nth-child(3) {
  color: #05D4DF;
}
.header-navlink > :last-child {
  color: #5D58EF;
}

body {
  margin: 0;
  background-color: #F7F7F7;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
}
body h1 {
  font-weight: bold;
  font-size: 56px;
}
body h2 {
  font-weight: bold;
  font-size: 46px;
}
body h3 {
  font-weight: bold;
  font-size: 32px;
}
body .text-center {
  text-align: center;
}
body .Quciksand-reguler {
  font-weight: reguler;
  font-size: 20px;
}
body .lh0 {
  line-height: 0;
}

.background-image {
  background: url("../assets/bg.png") repeat-y top/auto;
}

.banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
.banner .banner-content > :first-child {
  margin-bottom: 25px;
}
.banner .banner-content > :last-child {
  margin-top: 25px;
}
.banner .banner-content h1 > :first-child {
  color: #FEA301;
}
.banner .banner-content h1 > :last-child {
  color: #01ACFD;
}

/*# sourceMappingURL=main.css.map */
