$sky: #01ACFD
$orange: #FEA301
$cyan: #05D4DF

$indigo: #5D58EF
$indigo-2: #8700FF

$blue: #68A2DF
$gray: #495560

$white: #FFFFFF
$white-0: #FFFFFF00

$black-05: #0000000D

$ghost: #F7F7F7
$ghost-1: #D9D9D9

$kinder-border: #DEF5FF
$elementary-border: #FFF4DC
$middle-border: #F2E8FF
