$sky: #01ACFD
$orange: #FEA301
$cyan: #05D4DF
$indigo: #5D58EF
$blue: #68A2DF
$gray: #495560
$white: #FFFFFF

.text-sky
    color: $sky
.text-orange
    color: $orange
.text-cyan
    color: $cyan
.text-indigo
    color: $indigo
