@use 'typo'

.curriculum-card-container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    text-align: center
    gap: 28px

    h1
        font: bold 24px typo.$quicksand
        padding: 0
    h2
        font: bold 16px typo.$quicksand
    p
        font: 400 16px typo.$raleway
    img
        width: 136px
        height: 136px
        margin: auto auto 10px

.arrow
    display: flex
    justify-content: center

    img
        width: 72px
        height: 72px

    img:first-child
        transform: rotate(180deg)
