@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')

$raleway: 'Raleway', serif
$quicksand: 'Quicksand', serif

body
    font-family: $quicksand
    font-optical-sizing: auto

.navlink
    font-size: 20px
    font-weight: bold
h2
    font-weight: bold
    font-size: 32px
