@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #3498db;
  --secondary: #2ecc71;
  --accent: #e74c3c;
  --text: #333;
}

body {
  font-family: 'Quicksand', sans-serif;
}
/* header */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}
.nav-left {
  display: flex;
  gap: 11px;
}
ul > li {
  list-style: none;
}
.nav-center ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.contact-btn {
  width: 150px;
  font-size: 24px;
  padding: 5px;
  display: block;
  color: aliceblue;

  text-align: center;
  border-radius: 12px;
  background: rgb(250, 159, 2);
}
.home {
  font-size: 24px;
  color: rgb(253, 161, 2);
}
.about {
  font-size: 24px;
  color: rgb(27, 80, 224);
}
.facilities {
  font-size: 24px;
  color: rgb(142, 23, 147);
}
.admission {
  font-size: 24px;
  color: rgb(109, 142, 4);
}
.three-line {
  display: none;
}
/* main-section */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}
.banner-left {
  max-width: 50%;
}
.banner-left h1 {
  width: 55%;
  font-size: 32px;
}
.banner-left p {
  color: rgb(14, 14, 14);
}
.empowering {
  color: rgb(248, 158, 3);
}
.em-last {
  color: rgb(7, 161, 226);
}
.banner-right {
  max-width: 38%;
  font-size: 28px;
  margin: 0 auto;
}
.enroll {
  background-color: black;
  color: rgb(255, 255, 255);
  width: 150px;
  font-size: 20px;
  padding: 5px;
  display: block;
  color: aliceblue;

  text-align: center;
  border-radius: 12px;
}
/* body{
  margin: 10px auto;
} */
.body-container {
  margin: 0 auto;

  background: url("./assets/bg.png"),
    linear-gradient(0deg, #fea3014d, rgba(255, 255, 255, 0.3) 100%);
}
.curriculum {
  max-width: 1024px;
  text-align: center;
  margin: 0 auto;
}
.card-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  gap: 20px;
}
.card-1 {
  box-sizing: border-box;
  border: 0.95px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.95px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-2 {
  box-sizing: border-box;
  border: 0.95px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.95px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-3 {
  box-sizing: border-box;
  border: 0.95px solid rgb(242, 232, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.95px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.more-read1 {
  color: rgb(15, 184, 159);
}
.more-read2 {
  color: rgb(241, 110, 29);
}
.more-read3 {
  color: rgb(21, 21, 237);
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.arrow-1 {
  rotate: 180deg;
}
.story {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.story-card-container {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.story-png img {
  width: 100%;
  border-radius: 10px;
}
.story-left {
  max-width: 35%;
  border-radius: 10px;
  box-shadow: 20px;
  background-color: aliceblue;
}
.story-left h1,
p {
  padding: 10px;
}
.story-right {
  max-width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}
.story1 {
  background-color: aliceblue;
  border-radius: 20px;
  height: 230px;
  padding: 4px;
}
.story1 h4 {
  width: 70%;
  text-align: center;
}
.story1 img {
  width: 100%;
  border-radius: 20px;
}
.green-date {
  background-color: rgb(133, 206, 49);
  width: 160px;
  color: aliceblue;
  padding: 5px;

  border-radius: 20px;
  position: relative;
  bottom: 100px;
  left: 50px;
}
.green-date1 {
  background-color: rgb(67, 182, 213);
  width: 160px;
  color: aliceblue;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  bottom: 270px;
  left: 50px;
}
.blue1 {
  background-color: rgb(74, 74, 229);
  width: 160px;
  color: aliceblue;
  padding: 5px;
  border-radius: 21px;
  position: relative;
  bottom: 100px;
  left: 50px;
}
.all-view {
  text-align: center;
  margin: 50px auto;
  padding: 5px;
}

.footer-container {
  
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

 
  background-color: rgb(73, 166, 248);
  color: white;
}
.border {
  display: none;
  font-weight: 700;
  font-size: xx-large;
}


.footer-right {
  max-width: 35%;
}

.footer-center {
  max-width: 30%;
}
.footer-left {
  max-width: 35%;
  margin-top: -80px;
}
.li {
  font-size: 24px;
  margin-left: -40px;
}
.foot-img {
  display: flex;
}
footer,main{margin-bottom:-49px;}

@media screen and (max-width: 576px) {
  header {
    border: 5px solid rgb(206, 215, 35);
    border-radius: 8px;
    padding: 10px;
  }
  .nav-right,
  .nav-center {
    display: none;
  }
  .three-line {
    display: block;
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-right {
    max-width: 100%;
  }
  .banner-left h1 {
    width: 80%;
    text-align: center;
  }
  .banner-left p {
    width: 97%;

    text-align: center;
  }
  .enroll {
    margin-left: 70px;
  }
  .card-container {
    flex-direction: column;
    padding: 12px;
  }

  .arrow {
    display: none;
  }

  .story-left {
    display: none;
  }
  .story1 {
    width: 250px;
  }

  .green-date {
    width: 140px;
    bottom: 120px;
    left: 20px;
  }
  .blue1 {
    width: 140px;
    bottom: 120px;
    left: 20px;
  }
  .all-view {
    margin-left: 235px;
  }

  .footer-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-right {
    max-width: 90%;

    margin-left: -20px;
   
  }
  .footer-center {
    max-width: 100%;
    margin-bottom: 80px;

    margin-left: -360px;
  }
  .footer-left {
    max-width: 100%;
    margin-left: -330px;
  }

  .border {
    display: block;
  }
}


